// Global Variables
$bg-primary-color: #333;
$admin-secondary-bg-color: #f2f2f2;
$menu-map-bg-color: rgba(51, 51, 51, 0.8);
$hovers-color: #cc0033;


.btn-danger {
    background-color: $hovers-color;
}