@font-face {
  font-family: "Roboto-Slab-Regular";
  src: url("../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Slab-Bold";
  src: url("../fonts/RobotoSlab-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
